.nav {
  width: 200px;
  position: fixed;
  top: 72px;
  left: 0;
  bottom: 0;
  z-index: 20;
  overflow-y: hidden;
  background: #fff;
  border-right: 1px solid #d7dde4;
  display: none;
}

.nav-bg {
  position: fixed;
  top: 72px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.5);
  z-index: 19;
  display: none;
}

@media (max-width: 768px) {
    .nav-bg,.nav {
        top:84px
    }
}

@media (min-width: 769px) {
    .nav {
        display:block!important
    }
}