.header {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #2b83f9;
    background-image: linear-gradient(143deg,#2945cb 20%,#2b83f9 81%,#3a9dff);
}

.header .no-badgeStyle>.ivu-badge>.ivu-badge-dot {
    display: none
}

.header.demo {
    top: 64px
}

.header-logo {
    width: 200px;
    height: 100%;
    float: left;
    position: relative
}

.header-logo img {
    width: 78px;
    height: 24px;
    position: relative;
    top: 24px;
    margin-left: 20px;
    float: left
}



.header-logo>.header-logo-line {
    width: 20px;
    margin-left: 0
}

.header-logo-title {
    margin-left: 120px;
    position: relative;
    top: 20px
}

.header-logo h3,.header-logo h4 {
    text-align: center;
    color: #fff
}

.header-logo h4 {
    font-weight: 400
}

.header-logo:hover {
    cursor: pointer
}

.header-items {
    position: absolute;
    left: 220px;
    top: 0
}

.header-items a {
    display: inline-block;
    margin-right: 40px;
    position: relative;
    height: 72px;
    line-height: 72px;
    font-size: 14px;
    color: #fff;
    opacity: .69;
    cursor: pointer;
    transition: all .2s ease-in-out
}

.header-items a.on,.header-items a:hover {
    color: #fff;
    opacity: 1
}

.header-items a.on:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #4fe3c1;
    position: absolute;
    bottom: 0;
    left: 0
}

.header-items a .category-icon {
    display: inline-block;
    font-size: 18px;
    margin-right: 4px;
    vertical-align: middle
}

.header-items a span {
    vertical-align: middle
}

.header-items a img {
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    margin-right: 4px
}

.header-aside {
    float: right;
    margin: 0 30px 0 0;
    position: relative;
    color: #fff;
    font-size: 14px
}

.header-aside .td-appfont {
    font-size: 18px;
    color: #fff
}

.header-aside .ivu-badge {
    margin: auto 16px;
    cursor: pointer;
    position: relative
}

.header-aside .ivu-badge:hover {
    opacity: .8
}

.header-aside .ivu-badge sup {
    line-height: 12px;
    border-radius: 50%;
    padding: 0;
    top: -6px;
    right: -6px;
    position: absolute;
    background: #2dd1ac
}

.header-aside-main {
    line-height: 72px
}

.header-aside a,.header-aside a:hover {
    color: #fff
}

.header-aside a:hover {
    opacity: .8
}

.header-aside-setting {
    margin: auto 8px;
    position: relative;
    top: 4px;
    cursor: pointer
}

.header-aside .active:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    bottom: -28px;
    left: -4px
}

.header-aside-main {
    margin: auto 16px;
    position: relative;
    top: 4px
}

.header-aside .ivu-dropdown-menu .td-appfont {
    position: relative;
    top: 2px;
    color: #657180
}

.header-aside-dropdown {
    min-width: 186px;
    color: #657180
}

.header-aside-dropdown:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e3e8ee
}

.header-aside-dropdown button {
    margin-top: 12px;
    min-width: 80px
}

.header-aside-dropdown button:first-child {
    margin-right: 24px
}

.header-aside-dropdown-menu {
    font-size: 18px;
    margin-top: 26px;
}

.header-aside-dropdown-menu li:hover {
    background: #fff;
}

.header-aside-dropdown-menu-dropdown {
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(70,76,91,.3);
    font-size: 12px;
    color: #657180;
    padding: 12px;
    position: absolute!important;
    top: -15px!important;
    border-radius: 5px
}

.header-aside-dropdown-menu-dropdown:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    top: -5px;
    right: 15px
}

.header-aside-dropdown-menu-dropdown .ivu-dropdown-menu>span {
    margin-left: 8px;
    font-size: 12px;
    color: #464c5b
}

.header-aside-lang {
    display: inline-block;
    height: 23px;
    width: 23px;
    margin-left: 16px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 2px;
    font-size: 12px
}

.header-aside .split {
    content: "";
    display: block;
    width: 1px;
    height: 72px;
    background-color: hsla(0,0%,100%,.14);
    position: absolute;
    top: -28px;
    left: -33px
}

.header-aside .r {
    float: right
}

.header .header-aside-small {
    display: none;
    margin-right: 12px
}

.header .header-aside-small .td-appfont {
    font-size: 22px;
    top: 0;
    display: inline-block;
    vertical-align: middle
}

.header .header-aside-small .header-aside-lang {
    color: #657180;
    border-color: #657180
}

.header .header-aside-small .header-aside-main {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    margin: auto 8px
}

.header .header-aside-small .header-aside-setting {
    margin: auto 0;
    cursor: pointer
}

.header .header-aside-small .header-aside-lang {
    margin-left: 0;
    line-height: 16px;
    vertical-align: middle
}

.header .header-aside-small .grant-item,.header .header-aside-small .grant-wrap {
    top: 0
}

.header .header-aside-small .o-dropdown-item {
    width: 100%
}


.header .header-aside-small .ivu-dropdown-item em {
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    vertical-align: middle;
    padding-left: 6px;
    line-height: 25px
}

.header .header-aside-small .ivu-badge {
    margin: auto 0
}

.header-nav-wrap {
    display: none;
    vertical-align: middle;
    margin-right: 25px
}

.header-nav-wrap .header-items-line {
    float: left;
    padding-top: 8px;
    width: 2px;
    height: 30px
}

.header-nav {
    float: left;
    width: 44px;
    font-size: 28px;
    color: #fff;
    line-height: 39px;
    height: 39px;
    text-align: center;
    padding: 0 0 0 4px
}

.header-nav .ivu-icon {
    color: #fff
}

@media (max-width: 1023px) {
    .header-items a {
        margin-right:0;
        padding: 0 16px
    }

    .header-aside-main span,.header-items a span {
        display: none
    }
}

@media (max-width: 769px) {
    .header {
        height:84px
    }

    .header-logo {
        width: 150px;
        height: 44px
    }

    .header-logo img {
        width: 65px;
        height: 22px;
        top: 13px;
        margin-left: 12px
    }

    .header-logo-title {
        margin-left: 54px;
        top: 10px
    }

    .header-logo-title h3 {
        font-size: 13px
    }

    .header-logo-title h4 {
        font-size: 8px
    }

    .header .header-aside {
        display: none
    }

    .header .header-aside-small {
        display: block
    }

    .header-aside-dropdown-menu {
        margin-top: 12px;
    }

    .header-nav-wrap {
        display: inline-block
    }

    .header-items {
        width: 100%;
        top: 44px;
        left: 0;
        border-top: 1px solid hsla(0,0%,100%,.2)
    }

    .header-items a {
        height: 39px;
        line-height: 39px
    }

    .header-items a.on:after {
        height: 2px
    }
}